FrontEnd/Service References/ServiceEntidades/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8835/tsi1/" elementFormDefault="qualified" targetNamespace="http://localhost:8835/tsi1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8835/tsi/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.Entities" />
  <xs:element name="AltaTipoEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tipoEdificio" nillable="true" type="q1:TipoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTipoEdificioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTipoUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tipoUnidad" nillable="true" type="q2:TipoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTipoUnidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoEdificios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoEdificiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetAllTipoEdificiosResult" nillable="true" type="q3:ArrayOfTipoEdificio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoUnidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetAllTipoUnidadesResult" nillable="true" type="q4:ArrayOfTipoUnidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarEdificioUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tipoEdificio" nillable="true" type="q5:TipoEdificio" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tipoUnidad" nillable="true" type="q6:TipoUnidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarEdificioUnidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>