FrontEnd/Service References/ServiceEntidades/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8840/tsi1/" elementFormDefault="qualified" targetNamespace="http://localhost:8840/tsi1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8840/tsi/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.Entities" />
  <xs:import schemaLocation="http://localhost:8840/tsi/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AltaTipoEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tipoEdificio" nillable="true" type="q1:TipoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTipoEdificioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaTipoEdificioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTipoUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tipoUnidad" nillable="true" type="q2:TipoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTipoUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaTipoUnidadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTipoRecurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tipoRecurso" nillable="true" type="q3:TipoRecurso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTipoRecursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaTipoRecursoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaTipoEntidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEntidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaTipoEntidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaTipoRecurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRecurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaTipoRecursoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoEdificios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoEdificiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetAllTipoEdificiosResult" nillable="true" type="q4:ArrayOfTipoEdificio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoUnidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetAllTipoUnidadesResult" nillable="true" type="q5:ArrayOfTipoUnidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoRecursos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoRecursosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetAllTipoRecursosResult" nillable="true" type="q6:ArrayOfTipoRecurso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarEdificioUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEdificio" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaUnidades" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarEdificioUnidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTecnologia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tecnologia" nillable="true" type="q8:Tecnologia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTecnologiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaTecnologia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTecnologia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaTecnologiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTecnologias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTecnologiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetAllTecnologiasResult" nillable="true" type="q9:ArrayOfTecnologia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="juego" nillable="true" type="q10:Juego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaJuegoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaJuegoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJuegos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDisenador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJuegosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetAllJuegosResult" nillable="true" type="q11:ArrayOfJuego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarJuegoDisenador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
        <xs:element minOccurs="0" name="idDisenador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarJuegoDisenadorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicarJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicarJuegoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTablero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tablero" nillable="true" type="q12:Tablero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTableroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetTableroResult" nillable="true" type="q13:Tablero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>