FrontEnd/Service References/ServiceEntidades/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ataque" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Defensa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TiempoConstruccion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Vida" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoEntidad" nillable="true" type="tns:TipoEntidad" />
  <xs:complexType name="TipoEdificio">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TipoEntidad">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TipoEdificio" nillable="true" type="tns:TipoEdificio" />
  <xs:complexType name="TipoUnidad">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TipoEntidad">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TipoUnidad" nillable="true" type="tns:TipoUnidad" />
  <xs:complexType name="ArrayOfTipoEdificio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoEdificio" nillable="true" type="tns:TipoEdificio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoEdificio" nillable="true" type="tns:ArrayOfTipoEdificio" />
  <xs:complexType name="ArrayOfTipoUnidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoUnidad" nillable="true" type="tns:TipoUnidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoUnidad" nillable="true" type="tns:ArrayOfTipoUnidad" />
</xs:schema>