FrontEnd/Service References/ServiceEntidades/ServiceAtlas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://localhost:8840/tsi1/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAtlas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://localhost:8840/tsi1/" location="http://localhost:8840/tsi/?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IServiceAtlas" type="i0:IServiceAtlas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaTipoEdificio">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/AltaTipoEdificio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaTipoUnidad">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/AltaTipoUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaTipoRecurso">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/AltaTipoRecurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaTipoEntidad">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/BajaTipoEntidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaTipoRecurso">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/BajaTipoRecurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTipoEdificios">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/GetAllTipoEdificios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTipoUnidades">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/GetAllTipoUnidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTipoRecursos">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/GetAllTipoRecursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsociarEdificioUnidad">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/AsociarEdificioUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaTecnologia">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/AltaTecnologia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaTecnologia">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/BajaTecnologia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTecnologias">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/GetAllTecnologias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaJuego">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/AltaJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaJuego">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/BajaJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJuegos">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/GetAllJuegos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsociarJuegoDisenador">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/AsociarJuegoDisenador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicarJuego">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/PublicarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaTablero">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/AltaTablero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTablero">
      <soap:operation soapAction="http://localhost:8840/tsi1/IServiceAtlas/GetTablero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAtlas">
    <wsdl:port name="BasicHttpBinding_IServiceAtlas" binding="tns:BasicHttpBinding_IServiceAtlas">
      <soap:address location="http://localhost:8840/tsi/ServiceAtlas" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>