FrontEnd/Service References/ServiceTablero/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8836/tsi1/" elementFormDefault="qualified" targetNamespace="http://localhost:8836/tsi1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8836/tsi/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.Entities" />
  <xs:element name="JugarUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="infoCelda" nillable="true" type="q1:InfoCelda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JugarUnidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Accion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="cliente" nillable="true" type="q2:ClienteJuego" />
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="cliente" nillable="true" type="q3:ClienteJuego" />
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaDeJugadoresAtacables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jugadorAt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaDeJugadoresAtacablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetListaDeJugadoresAtacablesResult" nillable="true" type="q4:ArrayOfJugadorBasico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarAtaque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="info" nillable="true" type="q5:InfoAtaque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarAtaqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataJuegoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetAllDataJuegoResult" nillable="true" type="q6:Juego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>