FrontEnd/Service References/ServiceTablero/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8836/tsi/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="InfoCelda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PosX" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PosY" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoCelda" nillable="true" type="tns:InfoCelda" />
  <xs:complexType name="ArrayOfJugadorBasico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JugadorBasico" nillable="true" type="tns:JugadorBasico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugadorBasico" nillable="true" type="tns:ArrayOfJugadorBasico" />
  <xs:complexType name="JugadorBasico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorBasico" nillable="true" type="tns:JugadorBasico" />
  <xs:complexType name="InfoAtaque">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enemigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Juego" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoAtaque" nillable="true" type="tns:InfoAtaque" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="clienteId" type="xs:int" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Juego">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acciones" nillable="true" type="tns:ArrayOfAccion" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdDisenador" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Razas" nillable="true" type="tns:ArrayOfRaza" />
      <xs:element minOccurs="0" name="Tablero" nillable="true" type="tns:Tablero" />
      <xs:element minOccurs="0" name="Tecnologias" nillable="true" type="tns:ArrayOfTecnologia" />
      <xs:element minOccurs="0" name="TipoEdificios" nillable="true" type="tns:ArrayOfTipoEdificio" />
      <xs:element minOccurs="0" name="TipoEntidad" nillable="true" type="tns:ArrayOfTipoEntidad" />
      <xs:element minOccurs="0" name="TipoRecurso" nillable="true" type="tns:ArrayOfTipoRecurso" />
      <xs:element minOccurs="0" name="TipoUnidades" nillable="true" type="tns:ArrayOfTipoUnidad" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Juego" nillable="true" type="tns:Juego" />
  <xs:complexType name="ArrayOfAccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Accion" nillable="true" type="tns:Accion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccion" nillable="true" type="tns:ArrayOfAccion" />
  <xs:complexType name="Accion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEntidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdJuego" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTecnologia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreAtributo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tecnologia" nillable="true" type="tns:Tecnologia" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ValorPor" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Accion" nillable="true" type="tns:Accion" />
  <xs:complexType name="Tecnologia">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccionesAsociadas" nillable="true" type="tns:ArrayOfAccion" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEdificio" type="xs:int" />
      <xs:element minOccurs="0" name="IdJuego" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TecnologiaDependencias" nillable="true" type="tns:ArrayOfTecnologiaDependencia" />
      <xs:element minOccurs="0" name="TecnologiaRecursoCostos" nillable="true" type="tns:ArrayOfTecnologiaRecursoCosto" />
      <xs:element minOccurs="0" name="Tiempo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tecnologia" nillable="true" type="tns:Tecnologia" />
  <xs:complexType name="ArrayOfTecnologiaDependencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TecnologiaDependencia" nillable="true" type="tns:TecnologiaDependencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTecnologiaDependencia" nillable="true" type="tns:ArrayOfTecnologiaDependencia" />
  <xs:complexType name="TecnologiaDependencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdRaza" type="xs:int" />
      <xs:element minOccurs="0" name="IdTecnologia" type="xs:int" />
      <xs:element minOccurs="0" name="IdTecnologiaDepende" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TecnologiaDependencia" nillable="true" type="tns:TecnologiaDependencia" />
  <xs:complexType name="ArrayOfTecnologiaRecursoCosto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TecnologiaRecursoCosto" nillable="true" type="tns:TecnologiaRecursoCosto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTecnologiaRecursoCosto" nillable="true" type="tns:ArrayOfTecnologiaRecursoCosto" />
  <xs:complexType name="TecnologiaRecursoCosto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Costo" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecurso" type="xs:int" />
      <xs:element minOccurs="0" name="IdTecnologia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TecnologiaRecursoCosto" nillable="true" type="tns:TecnologiaRecursoCosto" />
  <xs:complexType name="ArrayOfRaza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Raza" nillable="true" type="tns:Raza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRaza" nillable="true" type="tns:ArrayOfRaza" />
  <xs:complexType name="Raza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdJuego" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Juego" nillable="true" type="tns:Juego" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TecnologiaDependencias" nillable="true" type="tns:ArrayOfTecnologiaDependencia" />
      <xs:element minOccurs="0" name="TipoEdificios" nillable="true" type="tns:ArrayOfTipoEdificio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Raza" nillable="true" type="tns:Raza" />
  <xs:complexType name="ArrayOfTipoEdificio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoEdificio" nillable="true" type="tns:TipoEdificio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoEdificio" nillable="true" type="tns:ArrayOfTipoEdificio" />
  <xs:complexType name="TipoEdificio">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TipoEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="RecursosAsociados" nillable="true" type="tns:ArrayOfRecursoAsociado" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tecnologias" nillable="true" type="q1:ArrayOfint" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UnidadesAsociadas" nillable="true" type="q2:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TipoEdificio" nillable="true" type="tns:TipoEdificio" />
  <xs:complexType name="TipoEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ataque" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Costos" nillable="true" type="tns:ArrayOfCosto" />
      <xs:element minOccurs="0" name="Defensa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdJuego" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TiempoConstruccion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Vida" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoEntidad" nillable="true" type="tns:TipoEntidad" />
  <xs:complexType name="ArrayOfCosto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Costo" nillable="true" type="tns:Costo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCosto" nillable="true" type="tns:ArrayOfCosto" />
  <xs:complexType name="Costo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEntidad" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecurso" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Costo" nillable="true" type="tns:Costo" />
  <xs:complexType name="TipoUnidad">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TipoEntidad">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TipoUnidad" nillable="true" type="tns:TipoUnidad" />
  <xs:complexType name="ArrayOfRecursoAsociado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecursoAsociado" nillable="true" type="tns:RecursoAsociado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecursoAsociado" nillable="true" type="tns:ArrayOfRecursoAsociado" />
  <xs:complexType name="RecursoAsociado">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEdificio" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecurso" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecursoAsociado" nillable="true" type="tns:RecursoAsociado" />
  <xs:complexType name="Tablero">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantColumnas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CantFilas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Celdas" nillable="true" type="tns:ArrayOfTableroCelda" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdJuego" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ImagenFondo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenTerreno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tablero" nillable="true" type="tns:Tablero" />
  <xs:complexType name="ArrayOfTableroCelda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TableroCelda" nillable="true" type="tns:TableroCelda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTableroCelda" nillable="true" type="tns:ArrayOfTableroCelda" />
  <xs:complexType name="TableroCelda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTablero" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoEdificio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PosColumna" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PosFila" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableroCelda" nillable="true" type="tns:TableroCelda" />
  <xs:complexType name="ArrayOfTecnologia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tecnologia" nillable="true" type="tns:Tecnologia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTecnologia" nillable="true" type="tns:ArrayOfTecnologia" />
  <xs:complexType name="ArrayOfTipoEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoEntidad" nillable="true" type="tns:TipoEntidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoEntidad" nillable="true" type="tns:ArrayOfTipoEntidad" />
  <xs:complexType name="ArrayOfTipoRecurso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoRecurso" nillable="true" type="tns:TipoRecurso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoRecurso" nillable="true" type="tns:ArrayOfTipoRecurso" />
  <xs:complexType name="TipoRecurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsFijo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdJuego" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tope" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoRecurso" nillable="true" type="tns:TipoRecurso" />
  <xs:complexType name="ArrayOfTipoUnidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoUnidad" nillable="true" type="tns:TipoUnidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoUnidad" nillable="true" type="tns:ArrayOfTipoUnidad" />
</xs:schema>