FrontEnd/Service References/ServiceTablero/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8836/tsi1/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8836/tsi1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8836/tsi1/Imports">
      <xsd:import schemaLocation="http://localhost:8836/tsi/?xsd=xsd0" namespace="http://localhost:8836/tsi1/" />
      <xsd:import schemaLocation="http://localhost:8836/tsi/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8836/tsi/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.Entities" />
      <xsd:import schemaLocation="http://localhost:8836/tsi/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTablero_JugarUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:JugarUnidad" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_JugarUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:JugarUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_Accion_InputMessage">
    <wsdl:part name="parameters" element="tns:Accion" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_Accion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_GetListaDeJugadoresAtacables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListaDeJugadoresAtacables" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_GetListaDeJugadoresAtacables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListaDeJugadoresAtacablesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_IniciarAtaque_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarAtaque" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_IniciarAtaque_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarAtaqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_GetAllDataJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataJuego" />
  </wsdl:message>
  <wsdl:message name="IServiceTablero_GetAllDataJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataJuegoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTablero">
    <wsdl:operation name="JugarUnidad">
      <wsdl:input wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/JugarUnidad" message="tns:IServiceTablero_JugarUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/JugarUnidadResponse" message="tns:IServiceTablero_JugarUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Accion">
      <wsdl:input wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/Accion" message="tns:IServiceTablero_Accion_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/AccionResponse" message="tns:IServiceTablero_Accion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/login" message="tns:IServiceTablero_login_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/loginResponse" message="tns:IServiceTablero_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/register" message="tns:IServiceTablero_register_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/registerResponse" message="tns:IServiceTablero_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListaDeJugadoresAtacables">
      <wsdl:input wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/GetListaDeJugadoresAtacables" message="tns:IServiceTablero_GetListaDeJugadoresAtacables_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/GetListaDeJugadoresAtacablesResponse" message="tns:IServiceTablero_GetListaDeJugadoresAtacables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarAtaque">
      <wsdl:input wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/IniciarAtaque" message="tns:IServiceTablero_IniciarAtaque_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/IniciarAtaqueResponse" message="tns:IServiceTablero_IniciarAtaque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDataJuego">
      <wsdl:input wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/GetAllDataJuego" message="tns:IServiceTablero_GetAllDataJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8836/tsi1/IServiceTablero/GetAllDataJuegoResponse" message="tns:IServiceTablero_GetAllDataJuego_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>