BusinessLogicLayer/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tsiserviceinteraccion.cloudapp.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tsiserviceinteraccion.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tsiserviceinteraccion.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IService1_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendLista_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLista" />
  </wsdl:message>
  <wsdl:message name="IService1_SendLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGrupo" />
  </wsdl:message>
  <wsdl:message name="IService1_SendGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:SendUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_SendUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Send" message="tns:IService1_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendResponse" message="tns:IService1_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendLista" message="tns:IService1_SendLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendListaResponse" message="tns:IService1_SendLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendGrupo" message="tns:IService1_SendGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendGrupoResponse" message="tns:IService1_SendGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendUsuario" message="tns:IService1_SendUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendUsuarioResponse" message="tns:IService1_SendUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/IService1/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLista">
      <soap:operation soapAction="http://tempuri.org/IService1/SendLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGrupo">
      <soap:operation soapAction="http://tempuri.org/IService1/SendGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/SendUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://tsiserviceinteraccion.cloudapp.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>