FrontEnd/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tsiservicetablero.cloudapp.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tsiservicetablero.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tsiservicetablero.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.Entities" />
      <xsd:import schemaLocation="http://tsiservicetablero.cloudapp.net/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_JugarUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:JugarUnidad" />
  </wsdl:message>
  <wsdl:message name="IService1_JugarUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:JugarUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Accion_InputMessage">
    <wsdl:part name="parameters" element="tns:Accion" />
  </wsdl:message>
  <wsdl:message name="IService1_Accion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IService1_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IniciarAtaque_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarAtaque" />
  </wsdl:message>
  <wsdl:message name="IService1_IniciarAtaque_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarAtaqueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDataJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataJuego" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDataJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConstruirEdificio_InputMessage">
    <wsdl:part name="parameters" element="tns:ConstruirEdificio" />
  </wsdl:message>
  <wsdl:message name="IService1_ConstruirEdificio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConstruirEdificioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EntrenarUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:EntrenarUnidad" />
  </wsdl:message>
  <wsdl:message name="IService1_EntrenarUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EntrenarUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEntidadesActualizadas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntidadesActualizadas" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEntidadesActualizadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntidadesActualizadasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJuegoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJuegoUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJuegoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJuegoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DesarrollarTecnologia_InputMessage">
    <wsdl:part name="parameters" element="tns:DesarrollarTecnologia" />
  </wsdl:message>
  <wsdl:message name="IService1_DesarrollarTecnologia_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesarrollarTecnologiaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJugadoresAtacables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJugadoresAtacables" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJugadoresAtacables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJugadoresAtacablesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearClan_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearClan" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearClan_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearClanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AbandonarClan_InputMessage">
    <wsdl:part name="parameters" element="tns:AbandonarClan" />
  </wsdl:message>
  <wsdl:message name="IService1_AbandonarClan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbandonarClanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJugadoresSinClan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJugadoresSinClan" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJugadoresSinClan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJugadoresSinClanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarJugadorClan_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugadorClan" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarJugadorClan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugadorClanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJugadoresEnElClan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJugadoresEnElClan" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJugadoresEnElClan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJugadoresEnElClanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SoyAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:SoyAdministrador" />
  </wsdl:message>
  <wsdl:message name="IService1_SoyAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoyAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EnviarRecursos_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRecursos" />
  </wsdl:message>
  <wsdl:message name="IService1_EnviarRecursos_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRecursosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEstadoBatalla_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstadoBatalla" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEstadoBatalla_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstadoBatallaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="JugarUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/JugarUnidad" message="tns:IService1_JugarUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/JugarUnidadResponse" message="tns:IService1_JugarUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Accion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Accion" message="tns:IService1_Accion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AccionResponse" message="tns:IService1_Accion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/register" message="tns:IService1_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerResponse" message="tns:IService1_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarAtaque">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IniciarAtaque" message="tns:IService1_IniciarAtaque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IniciarAtaqueResponse" message="tns:IService1_IniciarAtaque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDataJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDataJuego" message="tns:IService1_GetAllDataJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDataJuegoResponse" message="tns:IService1_GetAllDataJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConstruirEdificio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConstruirEdificio" message="tns:IService1_ConstruirEdificio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConstruirEdificioResponse" message="tns:IService1_ConstruirEdificio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EntrenarUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EntrenarUnidad" message="tns:IService1_EntrenarUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EntrenarUnidadResponse" message="tns:IService1_EntrenarUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntidadesActualizadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEntidadesActualizadas" message="tns:IService1_GetEntidadesActualizadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEntidadesActualizadasResponse" message="tns:IService1_GetEntidadesActualizadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJuegoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetJuegoUsuario" message="tns:IService1_GetJuegoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetJuegoUsuarioResponse" message="tns:IService1_GetJuegoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesarrollarTecnologia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DesarrollarTecnologia" message="tns:IService1_DesarrollarTecnologia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DesarrollarTecnologiaResponse" message="tns:IService1_DesarrollarTecnologia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJugadoresAtacables">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetJugadoresAtacables" message="tns:IService1_GetJugadoresAtacables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetJugadoresAtacablesResponse" message="tns:IService1_GetJugadoresAtacables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearClan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearClan" message="tns:IService1_CrearClan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearClanResponse" message="tns:IService1_CrearClan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbandonarClan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AbandonarClan" message="tns:IService1_AbandonarClan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AbandonarClanResponse" message="tns:IService1_AbandonarClan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJugadoresSinClan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetJugadoresSinClan" message="tns:IService1_GetJugadoresSinClan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetJugadoresSinClanResponse" message="tns:IService1_GetJugadoresSinClan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarJugadorClan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarJugadorClan" message="tns:IService1_AgregarJugadorClan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarJugadorClanResponse" message="tns:IService1_AgregarJugadorClan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJugadoresEnElClan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetJugadoresEnElClan" message="tns:IService1_GetJugadoresEnElClan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetJugadoresEnElClanResponse" message="tns:IService1_GetJugadoresEnElClan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoyAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SoyAdministrador" message="tns:IService1_SoyAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SoyAdministradorResponse" message="tns:IService1_SoyAdministrador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarRecursos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EnviarRecursos" message="tns:IService1_EnviarRecursos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EnviarRecursosResponse" message="tns:IService1_EnviarRecursos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstadoBatalla">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEstadoBatalla" message="tns:IService1_GetEstadoBatalla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEstadoBatallaResponse" message="tns:IService1_GetEstadoBatalla_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JugarUnidad">
      <soap:operation soapAction="http://tempuri.org/IService1/JugarUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Accion">
      <soap:operation soapAction="http://tempuri.org/IService1/Accion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/IService1/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarAtaque">
      <soap:operation soapAction="http://tempuri.org/IService1/IniciarAtaque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDataJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDataJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConstruirEdificio">
      <soap:operation soapAction="http://tempuri.org/IService1/ConstruirEdificio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EntrenarUnidad">
      <soap:operation soapAction="http://tempuri.org/IService1/EntrenarUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntidadesActualizadas">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEntidadesActualizadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJuegoUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/GetJuegoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesarrollarTecnologia">
      <soap:operation soapAction="http://tempuri.org/IService1/DesarrollarTecnologia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJugadoresAtacables">
      <soap:operation soapAction="http://tempuri.org/IService1/GetJugadoresAtacables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearClan">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearClan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbandonarClan">
      <soap:operation soapAction="http://tempuri.org/IService1/AbandonarClan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJugadoresSinClan">
      <soap:operation soapAction="http://tempuri.org/IService1/GetJugadoresSinClan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarJugadorClan">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarJugadorClan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJugadoresEnElClan">
      <soap:operation soapAction="http://tempuri.org/IService1/GetJugadoresEnElClan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoyAdministrador">
      <soap:operation soapAction="http://tempuri.org/IService1/SoyAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarRecursos">
      <soap:operation soapAction="http://tempuri.org/IService1/EnviarRecursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstadoBatalla">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEstadoBatalla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://tsiservicetablero.cloudapp.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>