FrontEnd/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tsiservicetablero.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.Entities" />
  <xs:element name="JugarUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="infoCelda" nillable="true" type="q1:InfoCelda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JugarUnidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Accion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="cliente" nillable="true" type="q2:ClienteJuego" />
        <xs:element minOccurs="0" name="nombreJuego" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="cliente" nillable="true" type="q3:ClienteJuego" />
        <xs:element minOccurs="0" name="nombreJuego" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarAtaque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenant" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="info" nillable="true" type="q4:InfoAtaque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarAtaqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataJuegoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetAllDataJuegoResult" nillable="true" type="q5:Juego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstruirEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="ceid" nillable="true" type="q6:CEInputData" />
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstruirEdificioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConstruirEdificioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntrenarUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="euid" nillable="true" type="q7:EUInputData" />
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntrenarUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EntrenarUnidadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntidadesActualizadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntidadesActualizadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetEntidadesActualizadasResult" nillable="true" type="q8:ListasEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJuegoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJuegoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetJuegoUsuarioResult" nillable="true" type="q9:Juego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesarrollarTecnologia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idJugador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTecnologia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesarrollarTecnologiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesarrollarTecnologiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresAtacables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresAtacablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetJugadoresAtacablesResult" nillable="true" type="q10:ArrayOfClienteJuego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearClan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreClan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearClanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbandonarClan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbandonarClanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AbandonarClanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresSinClan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresSinClanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetJugadoresSinClanResult" nillable="true" type="q11:ArrayOfClienteJuego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarJugadorClan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="Jugador" nillable="true" type="q12:ClienteJuego" />
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarJugadorClanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarJugadorClanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresEnElClan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresEnElClanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="GetJugadoresEnElClanResult" nillable="true" type="q13:ArrayOfClienteJuego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoyAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoyAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoyAdministradorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarRecursos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Shared.Entities" minOccurs="0" name="tributos" nillable="true" type="q14:ArrayOfRecursoAsociado" />
        <xs:element minOccurs="0" name="IdJugadorDestino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarRecursosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarRecursosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoBatalla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoBatallaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEstadoBatallaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>